/Documents/Websites/genesistheme.dev/nbproject/private/
/Documents/Websites/treehouse-hueman-genesis/nbproject/private/
/Documents/Websites/treehouse-hueman-genesis.dev/nbproject/private/
/Documents/Websites/treehouse-hueman-genesis.dev/wp-content/themes/treehouse-hueman-genesis/nbproject/private/